# exclude
/*

# include
!prismelon-dev/
!mods/
!.gitignore
!README.md
!DOCS.md
!LICENSE

# exclude recursively
prismelon-dev/bin/**
prismelon-dev/obj/**
prismelon-dev/.vs/**
prismelon-dev/Properties/**
prismelon-dev/commit.bat

# exclude
mods/**

# include
!mods/core/
!mods/core/**

# exclude
mods/core/mem.dll

# exclude
/*.dll
/*.exe
/*.txt